* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #e9ecef;
}

html {
    @media(max-width: 1080px) {
        font-size: 93.75%;
    }

    @media(max-width: 720px) {
        font-size: 87.5%;
    }
}

body,
input,
textarea,
button {
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    font-weight: 700;
}

button {
    cursor: pointer;
}

.container-button {
    
    position: fixed;
    right: 10%;
    top: 10px;

    display: flex;

    .button-login, .button-cadastro {
        height: 35px;
        width: 70px;
        margin-left: 10px;
        padding: 5px;
        background: #0081a7;
        border: none;
        border-radius: 2px;
        color: white;
        font-size: 0.80rem;
        font-weight: bolder;

        transition: filter 0.2s;

        &:hover {
            filter: brightness(0.9);
        }
    }
    
}