ul {
    width: 98%;
}

li {
    list-style-type: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    height: 2.5rem;
    margin: 0 10px 0 10px;

    transition: filter 0.2s;

    .title {
        width: 60%;
        margin: 0 10px 0 10px;

        text-align: center;

    }

    .date {
        width: 10%;
        margin: 0 10px 0 10px;

        text-align: center;
    }

    .buttons {
        width: 20%;
        height: 80%;

        display: flex;
        justify-content: space-around;
        .acessar {
            height: 100%;
            padding: 5px;
            background: #0081a7;
            border: none;
            border-radius: 2px;
            margin-right: 20px;
            color: white;
            font-size: 0.80rem;
            font-weight: bolder;

            transition: filter 0.2s;

            &:hover {
                filter: brightness(0.9);
            }
        }
        .excluir {
            height: 100%;
            padding: 5px;
            background: #e24b10;
            border: none;
            border-radius: 2px;
            margin-right: 20px;
            color: white;
            font-size: 0.80rem;
            font-weight: bolder;

            transition: filter 0.2s;

            &:hover {
                filter: brightness(0.9);
            }
        }
        
    }

    .division {
        height: 80%;
        width: 0.2px;
        background: #e4e4e4;
    }


    li:hover {
        filter: brightness(0.9);
    }


}

.line {
    height: 0.2px;
    width: 100%;
    background: #e4e4e4;
}